@{
    ViewBag.Title = "Index";
}

<link href="~/CSS/table.css" rel="stylesheet" />
<div class="container container-fix">
	<fieldset>
		<legend class="title">Lấy báo cáo</legend>
		<div>
			<div class="pull-right">
				<a href="@Url.Action("Test", "Report")"><span class="glyphicon glyphicon-download-alt"></span>Tải báo cáo</a>
			</div>
		</div>
	</fieldset>
</div>
