@{
	ViewBag.Title = "Report";
}
<link href="~/CSS/table.css" rel="stylesheet" />
<link rel="stylesheet" href="~/CSS/jquery-ui.css" />
<script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/datepicker-vi-VN.js"></script>
<script type="text/javascript">
	$(document).ready(function () {
		$('#txtFromDate').datepicker({
			"option": $.datepicker.regional['vn-VN'],
			changeMonth: true,
			changeYear: true,
			onClose: function (selectedDate) {
				$("#txtToDate").datepicker("option", "minDate", selectedDate);
			}
		});
		$('#txtToDate').datepicker({
			"option": $.datepicker.regional['vn-VN'],
			changeMonth: true,
			changeYear: true,
			onClose: function (selectedDate) {
				$("#txtFromDate").datepicker("option", "maxDate", selectedDate);
			}
		});

		var error = '@Html.Raw(ViewBag.error)';
		if (error != '') {
			alert(error);
		}
	});
</script>
<div class="container container-fix">
	<fieldset>
		<legend class="title">Lấy báo cáo</legend>
		@using (Html.BeginForm("Report", "Report", FormMethod.Get))
		{
			<div class="row">
				<form class="form-horizontal">
					<div class="form-group col-md-6" style="margin-top: 100px;">
						<table>
							<tr>
								<td>
									<label class="control-label">Từ ngày </label>
								</td>
								<td>
									<input type="text" class="form-control" name="frmDate" placeholder="Bắt đầu từ" id="txtFromDate" value="@Request.QueryString["fromDate"]">
								</td>
								<td>
									<label class="control-label"> Đến ngày </label>
								</td>
								<td>
									<input type="text" class="form-control" name="tDate" placeholder="Đến" id="txtToDate" value="@Request.QueryString["toDate"]">
								</td>
							</tr>
						</table>
					</div>
				</form>
				<div class="col-md-5">
					<table class="table table-condensed">
						<tr>
							<td>Lịch sử giao dịch</td>
							<td><button class="btn btn-link" type="submit" name="id" value="1"><span class="glyphicon glyphicon-download-alt"></span> Tải về</button></td>
						</tr>
						<tr>
							<td>Lịch sử ăn</td>
							<td><button class="btn btn-link" type="submit" name="id" value="2"><span class="glyphicon glyphicon-download-alt"></span> Tải về</button></td>
						</tr>
						<tr>
							<td>Thống kế lượt ăn theo bữa</td>
							<td><button class="btn btn-link" type="submit" name="id" value="3"><span class="glyphicon glyphicon-download-alt"></span> Tải về</button></td>
						</tr>
						<tr>
							<td>Thông kê suất ăn được sử dụng</td>
							<td><button class="btn btn-link" type="submit" name="id" value="4"><span class="glyphicon glyphicon-download-alt"></span> Tải về</button></td>
						</tr>
						<tr>
							<td>Thống kê món ăn được sử dụng</td>
							<td><button class="btn btn-link" type="submit" name="id" value="5"><span class="glyphicon glyphicon-download-alt"></span> Tải về</button></td>
						</tr>
						<tr>
							<td>Thống kê người dùng đang nợ tiền<br />(Không phụ thuộc vào thời gian)</td>
							<td><button class="btn btn-link" type="submit" name="id" value="6"><span class="glyphicon glyphicon-download-alt"></span> Tải về</button></td>
						</tr>
					</table>
				</div>
				@*<div class="pull-right">
					<a href="@Url.Action("Test", "Report")"><span class="glyphicon glyphicon-download-alt"></span>Tải báo cáo</a>
				</div>*@
			</div>
		}
	</fieldset>
</div>
