@{
	ViewBag.Title = "HomePage";
	Layout = "~/Views/Shared/_Layout.cshtml";

	string register = "";

	try
	{
		register = Session["register"].ToString();
		Session.Remove("register");
	}
	catch (Exception ex)
	{
		register = "";
	}
}

<script>
	var message = '@Html.Raw(register)';
	if (message != '') {
		alert(message);
	}
</script>
<div class="container" style="width: 90% !important">
	<div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">

		<ol class="carousel-indicators">
			<li data-target='#myCarousel' data-slide-to='0' class='active'></li>
			<li data-target='#myCarousel' data-slide-to='1'></li>
			<li data-target='#myCarousel' data-slide-to='2'></li>
		</ol>

		<div class='carousel-outer'>
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<img src="~/Images/Pic1.jpg" style="">

				</div>

				<div class="item">
					<img src="~/Images/Pic2.jpg" style="">

				</div>

				<div class="item">
					<img src="~/Images/Pic3.jpg" style="">

				</div>
			</div>
		</div>
	</div>
</div>
	

<div class="section" id="about"><h1>Giới thiệu</h1><hr></div>
<div class="container" style="width: 85% !important">
	<div class="row">
		<div class="col-md-4">
			<div class="well">
				<img src="~/Images/Cafeteria.jpg" style="height:100%; width:100%">
			</div>
		</div>
		<div class="col-md-8">
			<div class="well">
				<h3>Nhà ăn Đại học FPT</h3>
				<p>Khu bếp ăn nằm ngay cạnh hai tòa nhà ký túc. Để đảm bảo an toàn vệ sinh, ĐH FPT đã kiểm soát khá chặt chẽ đầu vào nguyên liệu, theo đó, thực phẩm phải có nguồn gốc rõ ràng và tươi ngon.Thực phẩm cung cấp cho nhà ăn đều là thực phẩm sạch. Mỗi buổi sáng, luôn có người của phòng đời sống sinh viên kiểm tra kỹ trước khi đưa vào chế biến. </p>
			</div>
		</div>
	</div>
</div>

<div class="section" id="product"><h1>Sản Phẩm</h1><hr></div>
<div class="container" style="width: 85% !important">
	<div class="row">
		<div class="col-md-8">
			<div class="well">
				<h3>Cafeteria's ticket management with fingerprint</h3>
				<p>CTMF là một hệ thống hiện đại được phát triển trên nền tảng .NET của nhóm sinh viên ngành JS trường đại học FPT. Hê thống cho phép quản lý việc mua bán vé ăn bằng vân tay. Tất cả mọi hoạt động nạp tiền, mua vé, theo dõi lịch phục vụ của nhà ăn, kiểm trả lịch sử giao dịch đều được thực hiện trên máy vi tính. Ngoài ra hệ thống còn tự động tính toán số lượng người ăn mỗi ngày, số lượng suất ăn đã bán và số tiền thu được cũng như những món ăn mà thực khách yêu thích.</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="well">
				<h3>Title</h3>
				<p>Nội dung</p>
			</div>
		</div>
	</div>
</div>

<div class="work" style="height:250px !important;">
	<div class="container" style="width: 85% !important">
		<div class="row">
			<div class="col-md-3">
				<h3>&nbsp; Dễ sử dụng</h3>
				<p>Hệ thống giao diện 100% được viết bằng tiếng Việt.</p>
				<br />
				<p>Thiết kế đơn giản và thân thiện với người dùng.</p>
			</div>

			<div class="col-md-3">
				<h3>&nbsp; Nhanh chóng</h3>
				<p>Loại bỏ bước trung gian mua vé ăn giấy truyền thống.</p>
				<br />
				<p>2 bước đơn giản nhận suất ăn: quét vân tay -> nhận suất ăn</p>
			</div>

			<div class="col-md-3">
				<h3>&nbsp; Tiện lợi</h3>
				<p>Quên vé ăn! Quên ví tiền! Vấn đề chỉ còn là quá khứ</p>
				<br />
				<p>Đăng ký thành viên để hưởng dịch vụ tiện lợi mà hệ thống CTMF mang lại.</p>
			</div>

			<div class="col-md-3">
				<h3>&nbsp; An toàn</h3>
				<p>Hệ thống hỗ trợ việc mua vé, bán vé, phục vụ cũng như thanh toán hoàn toàn trên máy tính, giảm thiểu khả năng nhầm lẫn cũng như gian lận về tiền bạc.</p>
			</div>
		</div>
	</div>
</div>

<div class="section" id="team"><h1>Nhóm phát triển</h1><hr></div>

<div class="container" style="width: 85% !important">
	<div class="row">
		<div class="col-md-6">
			<div class="well">
				<a href="#"><img src="https://uniap.fpt.edu.vn/user/fuhl/SE02792.jpg" height="150px" class="pull-left" style="padding-right: 15px; padding-bottom: 10px; padding-top:20px;"></a>
				<h3>Nguyễn Mạnh Dũng</h3>
				<p>Quản lý dự án</p>
				<br />
				<p>Chuyên ngành JS trường Đại học FPT</p>
			</div>
		</div>

		<div class="col-md-6">
			<div class="well">
				<a href="#"><img src="https://uniap.fpt.edu.vn/user/fuhl/SE02792.jpg" height="150px" class="pull-left" style="padding-right: 15px; padding-bottom: 10px; padding-top:20px;"></a>
				<h3>Nguyễn Anh Tuấn</h3>
				<p>Nhóm phát triển</p>
				<br />
				<p>Chuyên ngành JS trường Đại học FPT</p>
			</div>
		</div>

		<div class="col-md-6">
			<div class="well">
				<a href="#"><img src="https://uniap.fpt.edu.vn/user/fuhl/SE02957.jpg" height="150px" class="pull-left" style="padding-right: 15px; padding-bottom: 10px; padding-top:20px;"></a>
				<h3>Phạm Minh Đức</h3>
				<p>Nhóm tài liệu</p>
				<br />
				<p>Chuyên ngành JS trường Đại học FPT</p>
			</div>
		</div>

		<div class="col-md-6">
			<div class="well">
				<a href="#"><img src="https://fbcdn-photos-g-a.akamaihd.net/hphotos-ak-xtf1/v/t34.0-0/p206x206/12348737_1035532709802432_2018727809_n.jpg?oh=62b8154fba512667b7b069e37b827b28&oe=566AFD75&__gda__=1449857745_330073e7e8b081c0db475ea5c3c440d1" height="150px" class="pull-left" style="padding-right: 15px; padding-bottom: 10px; padding-top:20px;"></a>
				<h3>Phan Anh Tuấn</h3>
				<p>Nhóm phát triển và thiết kế</p>
				<br />
				<p>Chuyên ngành JS trường Đại học FPT</p>
			</div>
		</div>

		<div class="col-md-6">
			<div class="well">
				<a href="#"><img src="https://uniap.fpt.edu.vn/user/fuhl/SE02792.jpg" height="150px" class="pull-left" style="padding-right: 15px; padding-bottom: 10px; padding-top:20px;"></a>
				<h3>Lê Thanh Tùng</h3>
				<p>Nhóm kiểm thử</p>
				<br />
				<p>Chuyên ngành JS trường Đại học FPT</p>
			</div>
		</div>

		<div class="col-md-6">
			<div class="well">
				<a href="#"><img src="https://uniap.fpt.edu.vn/user/fuhl/SE02792.jpg" height="150px" class="pull-left" style="padding-right: 15px; padding-bottom: 10px; padding-top:20px;"></a>
				<h3>Nguyễn Lan Anh</h3>
				<p>Nhóm kiểm thử</p>
				<br />
				<p>Chuyên ngành JS trường Đại học FPT</p>
			</div>
		</div>
	</div>
</div>