@{
	ViewBag.Title = "HomePage";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
	<div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">

		<ol class="carousel-indicators">
			<li data-target='#myCarousel' data-slide-to='0' class='active'></li>
			<li data-target='#myCarousel' data-slide-to='1'></li>
			<li data-target='#myCarousel' data-slide-to='2'></li>
		</ol>

		<div class='carousel-outer'>
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<img src="~/Images/P1.jpg" style="">
				</div>

				<div class="item">
					<img src="~/Images/P2.jpg" style="">
				</div>

				<div class="item">
					<img src="~/Images/P3.jpg" style="">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="section" id="about"><h1>Giới thiệu</h1><hr></div>
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="well">
				<img src="http://thpt.fpt.edu.vn/wp-content/uploads/2014/01/khudichvu-01.jpg" style="height:100%; width:100%">
			</div>
		</div>
		<div class="col-md-8">
			<div class="well">
				<h3>Nhà ăn Đại học FPT</h3>
				<p>Khu bếp ăn nằm ngay cạnh hai tòa nhà ký túc. Để đảm bảo an toàn vệ sinh, ĐH FPT đã kiểm soát khá chặt chẽ đầu vào nguyên liệu, theo đó, thực phẩm phải có nguồn gốc rõ ràng và tươi ngon.Thực phẩm cung cấp cho nhà ăn đều là thực phẩm sạch. Mỗi buổi sáng, luôn có người của phòng đời sống sinh viên kiểm tra kỹ trước khi đưa vào chế biến. </p>
			</div>
		</div>
	</div>
</div>

<div class="section" id="product"><h1>Sản Phẩm</h1><hr></div>

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="well">
				<h3>Title</h3>
				<div class="spacer"></div><div class="spacer"></div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="well">
				<h3>Title</h3>
				<p>Nội dung</p>
			</div>
		</div>
	</div>
</div>
<div class="work" style="height:250px !important;">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<h3><i class="fa fa-code"></i>&nbsp; Dễ sử dụng</h3>
				<p>Nội dung</p>
			</div>
			<div class="col-md-3">
				<h3><i class="fa fa-fighter-jet"></i>&nbsp; Nhanh chóng</h3>
				<p>Nội dung</a>.</p>
			</div>
			<div class="col-md-3">
				<h3><i class="fa fa-arrows-alt"></i>&nbsp; Tiện lợi</h3>
				<p>Nội dung</p>
			</div>
			<div class="col-md-3">
				<h3><i class="fa fa-bolt"></i>&nbsp; An toàn</h3>
				<p>Nội dung</p>
			</div>
		</div>
	</div>
</div>

<div class="section" id="team"><h1>Nhóm phát triển</h1><hr></div>

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="well">
				<a href="#"><img src="https://uniap.fpt.edu.vn/user/fuhl/SE02792.jpg" height="150px" class="pull-left" style="padding-right: 15px; padding-bottom: 10px; padding-top:20px;"></a>
				<h3>Title</h3>
				<p>Description</p>
				<div class="spacer"></div><div class="spacer"></div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="well">
				<a href="#"><img src="https://uniap.fpt.edu.vn/user/fuhl/SE02957.jpg" height="150px" class="pull-left" style="padding-right: 15px; padding-bottom: 10px; padding-top:20px;"></a>
				<h3>Title</h3>
				<p>Description</p>
				<div class="spacer"></div><div class="spacer"></div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="well">
				<a href="#"><img src="https://fbcdn-photos-g-a.akamaihd.net/hphotos-ak-xtf1/v/t34.0-0/p206x206/12348737_1035532709802432_2018727809_n.jpg?oh=62b8154fba512667b7b069e37b827b28&oe=566AFD75&__gda__=1449857745_330073e7e8b081c0db475ea5c3c440d1" height="150px" class="pull-left" style="padding-right: 15px; padding-bottom: 10px; padding-top:20px;"></a>
				<h3>Title</h3>
				<p>Description</p>
				<div class="spacer"></div><div class="spacer"></div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="well">
				<a href="#"><img src="https://uniap.fpt.edu.vn/user/fuhl/SE02792.jpg" height="150px" class="pull-left" style="padding-right: 15px; padding-bottom: 10px; padding-top:20px;"></a>
				<h3>Title</h3>
				<p>Description</p>
				<div class="spacer"></div><div class="spacer"></div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="well">
				<a href="#"><img src="https://uniap.fpt.edu.vn/user/fuhl/SE02792.jpg" height="150px" class="pull-left" style="padding-right: 15px; padding-bottom: 10px; padding-top:20px;"></a>
				<h3>Title</h3>
				<p>Description</p>
				<div class="spacer"></div><div class="spacer"></div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="well">
				<a href="#"><img src="https://uniap.fpt.edu.vn/user/fuhl/SE02792.jpg" height="150px" class="pull-left" style="padding-right: 15px; padding-bottom: 10px; padding-top:20px;"></a>
				<h3>Title</h3>
				<p>Description</p>
				<div class="spacer"></div><div class="spacer"></div>
			</div>
		</div>
	</div>
</div>